<h1>タスク一覧</h1>
<div class="text-center">
  <%= paginate @tasks %>
</div>
<%= page_entries_info @tasks %>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>タスク名</th>
            <th>ステータス</th>
            <th>期限</th>
            <th>最終更新日</th>
            <th></th>
          </tr>
         </thead>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.task_name %></td>
            <td><%= complete(task.completed) %></td>
            <td><%= show_dat(task.due_date) %></td>
            <td><%= show_dat(task.updated_at) %></td>
            <td><%= link_to "詳細", task_path(task.id) ,class:"btn btn-primary" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <%= page_entries_info @tasks %>
  <div class="text-center">
    <%= paginate @tasks %>
  </div>
