<h1>タスク詳細</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@task) do |f| %>

      <%= f.label :"タスク名" %>
      <%= f.text_field :task_name, class: 'form-control',readonly: true %>

      <%= f.label :"ステータス" %>
      <%= f.text_field :completed, class: 'form-control',readonly: true %>

      <%= f.label :"期限" %>
      <%= f.text_field :due_date, class: 'form-control',readonly:true %>

      <%= link_to "編集", edit_task_path(@task.id) ,class:"btn btn-primary" %>

    <% end %>
  </div>
</div>
